body {
  background-color: #c5d3bd;
  color: #2b501f;
}

.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 70vw;
}

header {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  margin: auto;
}

a {
  color: #2e5064;
  font-weight: bold;
  text-transform: uppercase;
}

a:hover {
  color: #1c6fa0;
}
